.container {
    background-color: #c1c1c1;
    overflow: hidden;
}

.wrap-content {
    margin: 10px auto;
    max-width: 800px;
    max-height: 600px;
    overflow: auto;
}

.board {
    background-color: #ffffff;
}

.cell {
    width: 50px;
    height: 50px;
    background-color: #E4F0F5;
    display: inline-block;
    border: none;
    margin: 0 2px;
}

.image-fluid {
    display: block;
    width: 100%;
    height: 100%;
}
